@{
    ViewData["Title"] = "About Us";
}
<style>
    p {
        font-size: 20px
    }
</style>
<hr />

<div class="container">

    <div class="mt-3">
        <h3>Hakkımızda</h3>
        <p>
            Hoş geldiniz! Blog sitemiz, her bireyin düşüncelerini özgürce paylaşabileceği ve çeşitli konularda bilgi edinebileceği bir platform sunmayı amaçlamaktadır. Burada, herkes kendi hesabını oluşturarak makalelerini yazabilir ve yayımlayabilir. Ayrıca, farklı kullanıcılar tarafından yazılmış makaleleri okuyarak çeşitli perspektiflerden faydalanabilirsiniz.

        </p>
    </div>
     
    <div class="mt-3">
        <h3>Misyonumuz</h3>
        <p>
            Amacımız, bilgi paylaşımını teşvik ederek, çeşitli alanlarda zengin içeriklerin bir araya geldiği bir topluluk oluşturmaktır. Herkesin bilgi ve deneyimlerini paylaşarak birbirinden öğrenebileceği bir ortam yaratmayı hedefliyoruz.
        </p>

    </div>
     
    <div>
        <h4>Neler Sunuyoruz?</h4>
        <p>
            Çeşitli Konular: Sağlıktan teknolojiye, sanattan bilimsel araştırmalara kadar geniş bir yelpazede makaleler bulabilirsiniz.
            Topluluk Katılımı: Herkes, kendi uzmanlık alanında veya ilgi duyduğu konularda makaleler yazarak katkıda bulunabilir.
            Etkileşim ve Yorumlar: Makaleler hakkında geri bildirimde bulunabilir, tartışmalara katılabilir ve yazarlarla etkileşime geçebilirsiniz.
        </p>
    </div>
     
    <div class="mt-3">
        <h3>Vizyonumuz</h3>
        <p>
            Bilgiye erişimin kolay ve herkes için ulaşılabilir olduğu bir dijital platform olmak; topluluğumuzun büyümesini ve gelişmesini destekleyerek, dünya genelinde bilgi ve düşünce paylaşımını yaygınlaştırmak.

        </p>
    </div>
     
    <div class="mt-3">
        <h3>Siz de Katılın!</h3>
        <p>
            Eğer yazmayı, okumayı ve öğrenmeyi seviyorsanız, doğru yerdesiniz! Hesabınızı oluşturun, düşüncelerinizi paylaşın ve farklı bakış açılarıyla zenginleşin.
        </p>
    </div>

    <hr />
     
</div>